<!DOCTYPE html>
<html>
<head>
    <title>Repo Activity</title>
</head>

<body>
<h2>GitHub Repository Activity</h2>

<ul id="events"></ul>

<script>

let lastTimestamp = "";

async function fetchEvents() {

    const response = await fetch("/events");
    const data = await response.json();

    const list = document.getElementById("events");
    list.innerHTML = "";

    data.forEach(event => {

        let text = "";

        if(event.type === "push"){
            text = `${event.author} pushed to ${event.to_branch} on ${event.timestamp}`;
        }

        if(event.type === "pull_request"){
            text = `${event.author} submitted a pull request from ${event.from_branch} to ${event.to_branch} on ${event.timestamp}`;
        }

        if(event.type === "merge"){
            text = `${event.author} merged branch ${event.from_branch} to ${event.to_branch} on ${event.timestamp}`;
        }

        const li = document.createElement("li");
        li.innerText = text;
        list.appendChild(li);
    });
}

fetchEvents();
setInterval(fetchEvents,15000); // every 15 seconds

</script>

</body>
</html>